<div class="header">
	<% unless @course.nil? %>
		<div class="nav">
			<div class="nav-item"><%= @course.name %></div>
		</div>
	<% end %>
	<div class="auth">
		<div class="user-name">
			<%= current_student.display_name %>
		</div>
		<!-- <a href="#" class="student-info">Управление</a> -->
		<%= link_to 'Выйти', destroy_student_session_path, method: :delete, class: 'student-logout' %>
	</div>
</div>