@import 'style';

.courses-list {
	list-style: none;

	.course {
		white-space: nowrap;
		margin: 0.5em;
		overflow: auto;

		.code { 
			float: left;
		}

		.name {
			float: left;
		}

		.code:before {
			content: '[';
		}
		
		.code:after {
			content: ']';
			padding-right: 0.5em;
		}
	}
}